.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
  margin-left: 450px;
}

#tagline {
  margin-left: 470px;
}

#about {
  margin-left: 200px;
}

#testimonials{
  margin-left: 200px;
}

p {
  padding-left: 30px;
  padding-right: 30px;
}

h4 {
  padding-left: 15px;
}

#mailbook {
  padding-left: 75px;
}

#emailbook {
  padding-left: 60px;
}

#phonebook {
  padding-left: 75px;
}

#addressline1 {
  padding-left: 55px;
}

#addressline2 {
  padding-left: 50px;
}
