.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {
  margin-left: 450px;
}

#tagline {
  margin-left: 455px;
}

#about {
  margin-left: 200px;
}

#testimonials{
  margin-left: 205px;
}

p {
  padding-left: 30px;
  padding-right: 30px;
  text-indent: 20px;
}

h4 {
  padding-left: 15px;
}

#mailbook {
  padding-left: 75px;
}

#emailbook {
  padding-left: 60px;
}

#phonebook {
  padding-left: 75px;
}

#addressline1 {
  padding-left: 90px;
}

#addressline2 {
  padding-left: 75px;
}

#phonenumber {
  padding-left: 115px;
}

#emailaddress {
  padding-left: 45px;
}

#booklink {
  padding-left: 200px;
}
