@import url(https://fonts.googleapis.com/css?family=Lobster);

@import url(https://fonts.googleapis.com/css?family=Anton);

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
  font-family: 'Anton', sans-serif;
}

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

h1 {

  color: White;
}

#tagline {

}



p {

  text-indent: 20px;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
  color: Crimson;
}

h4 {
  
  font-family: 'Lobster', cursive;
  color: #FFBE19;
}

#mailbook {
  padding-left: 75px;
}

#emailbook {
  padding-left: 60px;
}

#phonebook {
  padding-left: 75px;
}

#addressline1 {
  padding-left: 90px;
  font-family: 'Droid Sans', sans-serif;
}

#addressline2 {
  padding-left: 75px;
  font-family: 'Droid Sans', sans-serif;
}

#phonenumber {
  padding-left: 105px;
  font-family: 'Droid Sans', sans-serif;
}

#emailaddress {
  padding-left: 45px;
  font-family: 'Droid Sans', sans-serif;
}

#booklink {

  font-size: 20px;
  color: White;
  font-family: 'Droid Sans', sans-serif;
}

#eventslink {

  font-size: 20px;
  color: White;
  font-family: 'Droid Sans', sans-serif;
}

#homelink {

  font-size: 20px;
  color: White;
  font-family: 'Droid Sans', sans-serif;
}

#homerow {
  padding-top: 25px;
}

#eventsrow {

}

#bookingtoprow {
  padding-top: 25px;
}

#bookingbottomrow {
  padding-top: 50px;
}

h3 {
  font-family: 'Lobster', cursive;
  color: #FFBE19
}

#heading {
  background-color: Crimson;
}

#linksbar {
  background-color: MediumBlue;
}

h5 {
  color: MediumBlue;
}

#aboutpicture {

}

#testimonialspicture{

}
