<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid">
  <h1>{{ page.title }}</h1>
  <h4>{{page.tagline}}</h4>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="upcoming_events.html">Upcoming Events</a></li>
        <li><a href="book_charlie.html">Book Charlie</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3>About Charlie</h3>
      <p> Charlie Coghlin is an up and coming stand-up comedian living in Philadelphia.  He got his start doing local open mic nights, but his career has taken off since then.  He now headlines his own shows and is taking the comedy world by storm.  He draws influence from his favorite comedians, Aziz Ansari and John Mulaney.  His first feature length special is currently in production and will be available for free online on January 15, 2016.  He's a fun-loving guy and his bright personality shines on stage.  His relatable jokes and hilarious anectodes have left audiences wanting more since the first time he stepped on stage.</p>
    </div>
    <div class="col-md-6">
      <h3>Testimonials</h3>
      <p>"Charlie Coghlin's style and delivery make him someone who I believe only comes along once in a generation" -Joseph H. Critic</p>
      <p>"Flawless" -TIME Magazine</p>
      <p>"This kid is an inspiration"</p> -Aziz Ansari
    </div>
  </div>
</div>
</body>
</html>
