<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid">
  <h1>{{ page.title }}</h1>
  <h4 id="tagline">{{page.tagline}}</h4>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="upcoming_events.html">Upcoming Events</a></li>
        <li><a href="book_charlie.html" id="booklink">Book Charlie</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">

    {{ content }}

</div>
</body>
</html>
